<h2 class="page_title">COȘ DE CUMPĂRĂTURI</h2>

<div class="empty-cart" *ngIf="productsInShopCart.length == 0">
  <img src="assets/images/EmptyCart.png" class="empty-cart-photo"  alt="Empty cart"/>
  <p class="empty-cart-text"> Coșul de cumpărături este gol. Vezi produsele disponibile <a routerLink="/products" routerLinkActive="active">aici</a>! </p>
</div>

<div class="cart-container" *ngIf="productsInShopCart.length > 0">
<div class="Cart-Items" *ngFor="let shopCart of productsInShopCart">
  <div class="image-box">
    <img src="assets/images/ProductPhoto.png" class="item-photo" />
  </div>
  <div class="about">
    <h1 class="title" (click)="goToProductShow(shopCart.product.id)">{{shopCart.product.productName}}</h1>
  </div>
  <div class="counter">
    <div class="update_quantity" (click)="updateQuantity(shopCart, -1)" *ngIf="shopCart.quantity > 1">-</div>
    <div class="count">{{shopCart.quantity}}</div>
    <div class="update_quantity" (click)="updateQuantity(shopCart, 1)">+</div>
  </div>
  <div class="prices">
    <div class="amount">{{shopCart.product.price}} lei</div>
    <div class="remove" (click)="deleteProductInCart(shopCart)"><u>Scoate din coș</u></div>
  </div>
</div>
  <hr>

  <div class="checkout">
  <div class="total">
    <div class="total">Total: &nbsp;</div>
    <div class="total-amount">{{totalPrice}} lei</div>
  </div>
  <button class="shop-button">Plasează comanda</button></div>
</div>
