
<div  class="form-class">
    <form #registerform="ngForm" (ngSubmit)="register()">
        <h2>Register</h2>
        <small class="alert-danger">{{msg}}</small>
         <!--First Name-->
         <div class="form-group">
          <input type="text" class="form-control" placeholder="Prenume" name="firstName" [(ngModel)]="user1.firstName" required #firstname="ngModel"
          [class.is-invalid]="firstname.invalid && firstname.touched">
          <small class="text-danger" [class.d-none]="firstname.valid|| firstname.untouched">Prenumele este un camp obligatoriu</small>
        </div>
        <br>
         <!--Last Name-->
         <div class="form-group">
           
          <input type="text" class="form-control" placeholder="Numele de familie" name="lastName" [(ngModel)]="user1.lastName" required #lastname="ngModel"
          [class.is-invalid]="lastname.invalid && lastname.touched">
          <small class="text-danger" [class.d-none]="lastname.valid|| lastname.untouched">Numele de familie este un camp obligatoriu</small>
       
        </div>    
        <br>

        <!--Email-->
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user1.email" required
          pattern="\w+@[a-zA-z_]+?\.[a-zA-Z]{2,3}$"
          #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched">
          <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger"  *ngIf="email.errors?.['required']">Email-ul este un camp obligatoriu</small>          
            <small class="text-danger"  *ngIf="email.errors?.['pattern']">Introduceti un email valid</small>
          </div>
        </div>
        <br>
        <!--Password-->
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Parola" name="password" [(ngModel)]="user1.password" required #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Parola este un camp obligatoriu</small>
        </div>
        <br>
        <!--Confirm Password-->
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Enter confim password" name="cpassword" #cpassword="ngModel" (ngModel)="user1.password" required 
          [class.is-invalid]="cpassword.invalid && cpassword.touched">
          <small class="text-danger" [class.d-none]="(cpassword.value ==password.value) || cpassword.untouched">Confirmarea parolei este un camp obligatoriu</small>
        </div>
        <br>
        <div class="text-center">
        <button [disabled]="registerform.form.invalid" type="submit"class="btn" style="background-color: #074f57;color: white;">Register</button>
      </div>
      <br>
      </form>
</div>
