<div class="product-container">
  <img src="assets/images/ProductPhoto.png"  alt="Product" class="product-img">
  <div class="string-details">
    <p class="product-title"> {{currentProduct.productName}}</p>
    <span class="product-description-container">
    <p class="product-description-text">Despre produs</p>
    <p class="product-description">{{currentProduct.description}}</p>
  </span>
    <p class="product-price">{{currentProduct.price}} lei</p>
  </div>
</div>
<div class="product-buttons">
  <button class="add-to-card-button" *ngIf="userType == 'user'" (click)="saveOrDeleteProductFromSaves()"> {{productSaved === false ? 'Adaugă produsul în salvate' : 'Elimină produsul din salvate'}}</button>
  <button class="add-to-card-button" *ngIf="userType == 'user'" [disabled]="addedToCart === true" (click)="addToCart()"> {{addedToCart === false ? 'Adaugă în coș' : 'Deja în coș'}}</button>
</div>
