.product-container{
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 50px;
  background-color: rgba(56,163,165,0.1);
  padding: 25px;
}

.product-img{
  width: 300px;
  height: 300px;
}

.string-details{
  border-left: rgba(211,211,211, 0.7) outset 2px;
  padding-left: 25px;
}

.product-title{
  margin-top: 50px;
  margin-bottom:30px;
  color: #074f57;
  font-weight: bolder;
  font-size: 25px;
}

.product-description-text{
  font-weight: bolder;
  font-size: 18px;
  font-style: italic;
  color: #38a3a5;
  text-decoration: underline;
  font-family: "Bodoni MT", sans-serif;
}

.product-description{
  font-size: 17px;
  font-family: Cambria, sans-serif;
  text-align: justify;
}

.product-price{
  padding-top: 40px;
  font-size: 20px;
  font-family: Cambria, sans-serif;
  font-weight: bolder;
  text-align: end;
}
