<h2 class="page_title">DESPRE NOI</h2>

<div id="content_about">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="assets/images/Img1.jpeg" alt="Image 1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="assets/images/Img2.jpeg" alt="Image 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="assets/images/Img3.png"  alt="Image 3">
      </div>
    </ng-template>
  </ngb-carousel>
  <span class="info_about">
    <p id="info_title">Magazin online pentru tinerii designeri</p>
    <p id="info_text">Website-ul a apărut în urma dorinței de a elimina problema "Nu găsesc un articol vestimentar care să îmi placă", astfel încât
    oferim clienților noștrii posibilitatea de a adăuga o schiță a unui articol creat de ei însăși, dar există și posibilitatea de
    a cumpăra un produs deja fabricat. Platforma nu este dedicată numai cumărătorului, dorim să susținem și să încurajăm designeri la început de drum
    care pot să aducă la viață schițele cerute de clienți.</p>
  </span>
</div>
