<div class="designer-list-general">
    <h3 class="designer-page-title">Schitele mele</h3>
    <div *ngFor="let product of myProducts" class="designer-container">
      <div *ngIf="product.sketching" >
        <img [src]="product.sketching" class="user-img">
      </div>
      <div class="designer-details">
          <span class="designer-contact">
            <p class="designer-name">{{product.productName}} - {{product.status}} </p>
          </span>
        <p class="designer-description"> {{product.description}}</p>

      </div>
    </div>
  </div>
